.Message {
	margin: 0.5rem;
}

.message_container {
	display: flex;
	flex-direction: row;
}

.message_text {
	/* color: #fff; */
	color: black;
}

.message_timestamp {
	font-size: 0.7rem;
	color: grey;
	font-style: italic;
}

.message_modal {
	display: flex;
	align-items: center;
	justify-content: center;
}